<body style="background-color: #879CBD;">
    <div class="container" style="margin: auto; text-align:center; margin-top:5%;">
      <h1 style="color: white;">Listado de Directivos</h1>
    </div>
    <div class="container" style="margin-left: auto; margin-right:auto; max-width:80%; margin-top: 2%;">
      <table class="table">
        <thead style="background-color: #FBE842;">
          
          <tr>
            <th scope="col">Matrícula</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Cargo</th>
            <th scope="col">Contacto</th>
          </tr>
        </thead>
        <tbody style="background-color: #A6C9FE;">
          <% directivos_data.forEach(function(directivo){ %>
            <tr>
              <td><%=directivo.matricula%></td>
              <td><%=directivo.nombres%></td>
              <td><%=directivo.apellidos%></td>
              <td><%=directivo.puesto%></td>
              <td><%=directivo.telefono%></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </body>